.title {
  padding: 0 0 0 5vh !important;
  font-weight: 700;
  background: #f2f2f2;
  height: 8vh;
  font-size: 17px;
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}

.ant-layout-footer {
  height: 10% !important;
  padding: 2vh 5vh !important;
  background-color: #ffffff !important;
  line-height: inherit !important;
  display: flex !important;
  align-items: center !important;
  position: fixed !important;
  width: 100% !important;
  bottom: 0 !important;
  border-top: 1px solid #cccccc;
  z-index: 999;

  .footer-row {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;

    justify-content: flex-end !important;

    .review-btn,
    .submit-btn {
      background-color: #00a546 !important;
      color: #ffffff !important;
    }

    .review-btn:disabled,
    .submit-btn:disabled {
      background-color: #d4d4d4 !important;
    }
  }

  .progress {
    padding-right: 2vh;
    display: flex;
    align-items: center;
  }
}


// Tablet
@media screen and (min-width: 426px) and (max-width: 769px) {
  .ant-layout-footer {
    position: initial !important;
  }
}

// Mobiles
@media screen and (max-width: 426px) {
  .ant-layout-footer {
    position: initial !important;
  }
}