.form {
    height: 100%;
    
    .ant-form {
        padding: 0 70vh 0 30vh !important;
        height: 82%;
        width: 100%;
        overflow: hidden;
    
        .ant-form-item {
            margin-bottom: 3vh !important;
            width: 100% !important;
        }
    
        .or {
            margin-bottom: 2vh !important;
        }
    
        .ant-form-item-label {
            display: flex !important;
        }
    
        .mobile {
            margin: 0 !important;
        }
    }

    .field-error{
        color: #d0021b !important;
        font-size: 13px;
        font-family: "SCSans",sans-serif!important;
        display: block;
        line-height: normal;
        font-weight: inherit;
      }

    
    .ant-form:hover {
        overflow: auto;
    }
  }
