.captcha.ant-layout {
  height: 100vh !important;

  .ant-layout-content {
    height: 100vh !important;
    margin: 0 !important;
    background-color: #ffffff !important;
    display: flex;
    align-items: center;
    justify-content: center;

    .lang {
      position: absolute;
      top: 2vh;
      right: 2vh;
    }

    .block {
      width: 30% !important;
      height: 40% !important;
      display: flex !important;
      justify-content: space-around !important;
      align-items: center !important;
      flex-direction: column !important;
      margin-bottom: 15vh;

      .captcha-img {
        display: flex;
        justify-content: center;

        img {
          width: 50% !important;
        }

        .img-reload {
          margin-left: 1vh !important;
        }
      }

      .ant-input {
        width: 70% !important;
        border-color: #111111;
      }

      .ant-btn-block {
        width: 45% !important;
        background-color: #00a546 !important;
        color: #ffffff !important;
      }

      .ant-btn-block:disabled {
        background-color: #00a54680 !important;
      }
    }
  }
}
