.review-booking {
    height: 100%;

    .prop-list {
        height: 76% !important;
        width: 100%;
        margin-top: 5vh;

        .prop-li {
            margin-bottom: 2vh !important;
            padding: 0 25vh;
            display: flex;
            width: 100%;

            .pl-label {
                width: 20%;
            }

            .pl-divider {
                margin: 0 2vh;
            }

            .pl-value {
                width: 80%;
            }
        }
    }

    .prop-list:hover {
        overflow: auto;
    }
}

// Tablet
@media screen and (min-width: 426px) and (max-width: 769px) {
    .review-booking {
        height: auto !important;

        .prop-list {
            overflow: hidden !important;
            height: auto !important;

            .prop-li {
                padding: 0 20vh;

                .pl-label {
                    width: 30%;
                }

                .pl-value {
                    width: 70%;
                }
            }
        }
    }
}

// Mobiles
@media screen and (max-width: 426px) {
    .review-booking {
        height: auto !important;

        .prop-list {
            overflow: hidden !important;
            height: auto !important;

            .prop-li {
                padding: 0 5vh;

                .pl-label {
                    width: 40%;
                }

                .pl-value {
                    width: 60%;
                }
            }
        }
    }
}
