.ant-layout {
  height: 100% !important;

  .ant-layout-header {
    height: 13% !important;
    padding: 2vh 5vh !important;
    background-color: #ffffff !important;
    line-height: inherit !important;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    position: fixed !important;
    width: 100% !important;

    .header {
      font-size: 20px;
      font-weight: 700;
    }
  }

  .ant-layout-content {
    height: 77% !important;
    background-color: #ffffff !important;

    .ant-tabs {
      margin-top: 13vh;
      height: 80vh !important;

      .ant-tabs-nav {
        margin: 0 !important;
        height: 8vh !important;
        padding-left: 5vh !important;
      }

      .ant-tabs-content-holder {
        height: 92vh !important;

        .ant-tabs-content {
          height: 100% !important;

          .ant-tabs-tabpane-active {
            height: 100% !important;
          }
        }
      }
    }
  }
}

// Tablet
@media screen and (min-width: 426px) and (max-width: 769px) {
  .ant-layout .ant-layout-content .ant-tabs {
    height: 87vh !important;

    .ant-tabs-content {
      height: auto !important;
      overflow-y: auto !important;
    }
  }
}

// Mobiles
@media screen and (max-width: 426px) {
  .ant-layout .ant-layout-content .ant-tabs {
    margin-top: 16vh !important;
    height: 84vh !important;

    .ant-tabs-content {
      height: auto !important;
      overflow-y: auto !important;
    }
  }

  .ant-layout .ant-layout-header {
    height: 16% !important;

    .header {
      font-size: 12px;
    }

    .hint {
      font-size: 12px;
    }
  }
}
