.ant-layout {
  height: 100% !important;

  // .ant-layout-header {
  //   height: 13% !important;
  //   padding: 2vh 5vh !important;
  //   background-color: #ffffff !important;
  //   line-height: inherit !important;
  //   display: flex !important;
  //   justify-content: center !important;
  //   flex-direction: column !important;
  //   position: fixed !important;
  //   width: 100% !important;

  //   .header {
  //     font-size: 20px;
  //     font-weight: 700;
  //   }
  // }

  .ant-layout-header {
    height: 13% !important;
    display: flex !important;
    position: fixed !important;
    justify-content: flex-start !important;
    align-items: center !important;
    flex-direction: row !important;
    border-bottom: 1px groove #f2f2f2;
    background-color: #ffffff !important;
    width: 100%;
    padding: 0 5vh !important;

    // .ant-row {
    //   display: flex;
    //   align-items: center;
    // }

    .sc-logo {
      display: initial !important;
      height: 80%;
    }

    .sc-mobile-logo {
      height: 80%;
      display: none !important;
    }

    .header-title {
      width: 80%;
      font-size: 20px;
      font-weight: 700;
      line-height: initial;
    }

    .lang {
      position: absolute;
      top: 2vh;
      right: 2vh;
    }

    .lang.ant-btn:hover,
    .lang.ant-btn:focus {
      color: #00a546 !important;
      border-color: #00a546 !important;
    }

    .border {
      //width: 10%;
      display: flex !important;
      flex-direction: column;
      width: 1vh !important;
      margin: 0 5vh;
      height: 100% !important;

      .border-top {
        background-color: #00a546;
        height: 100% !important;
        width: 100% !important;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      .border-bottom {
        background-color: #0091ea;
        height: 100% !important;
        width: 100% !important;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }

  .ant-layout-content {
    height: 77% !important;
    background-color: #ffffff !important;

    .ant-tabs {
      margin-top: 13vh;
      height: 80vh !important;

      .ant-tabs-tab {
        padding: 0 2vh;
        display: flex;
        margin-top: 1vh;
        justify-content: center;
        background-color: #ffffff !important;
        border-radius: 4px;

        .ant-tabs-tab-btn {
          color: #1890ff !important;
        }
      }

      // .ant-tabs-ink-bar {
      //   display: none !important;
      // }

      .ant-tabs-tab-active {
        background-color: #1890ff !important;

        .ant-tabs-tab-btn {
          color: #ffffff !important;
        }
      }

      .ant-tabs-nav {
        margin: 0 !important;
        height: 8vh !important;
        padding-left: 5vh !important;
      }

      .ant-tabs-content-holder {
        height: 92vh !important;

        .ant-tabs-content {
          height: 100% !important;

          .ant-tabs-tabpane-active {
            height: 100% !important;
          }
        }
      }
    }
  }
}

// Tablet
@media screen and (min-width: 426px) and (max-width: 769px) {
  .ant-layout .ant-layout-content .ant-tabs {
    height: 87vh !important;

    .ant-tabs-content {
      height: auto !important;
      overflow-y: auto !important;
    }
  }

  .ant-layout .ant-layout-header {
    padding: 0 4vh !important;

    .sc-mobile-logo {
      margin-right: 3vh;
      display: initial !important;
    }

    .sc-logo {
      display: none !important;
    }

    .border {
      display: none !important;
    }
  }
}

// Mobiles
@media screen and (max-width: 426px) {
  .ant-layout .ant-layout-content .ant-tabs {
    margin-top: 16vh !important;
    height: 84vh !important;

    .ant-tabs-content {
      height: auto !important;
      overflow-y: auto !important;
    }
  }

  // .ant-layout .ant-layout-header {
  //   height: 16% !important;

  //   .header {
  //     font-size: 12px;
  //   }

  //   .hint {
  //     font-size: 12px;
  //   }
  // }

  .ant-layout .ant-layout-header {
    padding: 0 3vh !important;

    .sc-mobile-logo {
      margin-right: 3vh;
      display: initial !important;
    }

    .header-title {
      width: 70% !important;
      font-size: 15px;
      font-weight: 700;
    }

    .sc-logo {
      display: none !important;
    }

    .border {
      display: none !important;
    }
  }
}
