.update-booking {
    padding: 5vh 5vh 0 5vh !important;
    margin-bottom: 2vh;
    .ant-form-item {
        margin: 0 !important;

        .submit-button.ant-col {
            display: flex !important;
            justify-content: flex-end !important;
        }

        .country-code {
            width: 15%;
        }

        .mobile-number {
            width: 85%;
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .submit-btn {
        background-color: #00a546 !important;
        color: #ffffff !important;
        width: auto !important;
    }

    .submit-btn:disabled {
        background-color: #00a54680 !important;
    }
    
}
.ant-table-empty {
    .ant-empty {
        .ant-empty-description {
            color: rgba(0, 0, 0, 0.85) !important;
            font-size: 16px;
        }
    }
}
// Mobiles
@media screen and (max-width: 426px) {

    .update-booking {
        .ant-form-item {
            .country-code {
                width: 25%;
            }
        
            .mobile-number {
                width: 75%;
            }
        }
        .ant-table-wrapper {
            overflow-x: auto !important;
        }
    }
  }