.update-booking {
    padding: 2vh 5vh 0 5vh !important;
    margin-bottom: 2vh;
    width: 50% !important;

    .ant-form-item {
        margin: 0 !important;
        margin-bottom: 2vh !important;
        width: 100% !important;

        .submit-button.ant-col {
            display: flex !important;
            justify-content: flex-end !important;
        }

        .country-code {
            width: 15%;
        }

        .mobile-number {
            width: 85%;
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .submit-btn {
        background-color: #00a546 !important;
        color: #ffffff !important;
        width: auto !important;
    }

    .submit-btn:disabled {
        background-color: #d4d4d4 !important;
    }
}
.ant-table-empty {
    .ant-empty {
        .ant-empty-description {
            color: rgba(0, 0, 0, 0.85) !important;
            font-size: 16px;
        }
    }
}
// Tablet
@media screen and (min-width: 426px) and (max-width: 769px) {
    .update-booking {
        width: 70% !important;
    }
}

// Mobiles
@media screen and (max-width: 426px) {
    .update-booking {
        width: 100% !important;

        .ant-form-item {
            .country-code {
                width: 25%;
            }

            .mobile-number {
                width: 75%;
            }
        }
        .ant-table-wrapper {
            overflow-x: auto !important;
        }
    }
}
