.ant-layout {
  height: 100vh !important;
  
  .ant-layout-header {
    height: 12vh !important;
    padding: 2vh 5vh !important;
    background-color: #ffffff !important;
    line-height: inherit !important;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    position: fixed !important;
    width: 100% !important;
    border-bottom: 0.2px solid #777777;
  
    .header {
      font-size: 18px;
      font-weight: 700;
      text-decoration: underline;
    }
  }

  .ant-layout-content {
    height: 78vh !important;
    margin-top: 12vh !important;
    margin-bottom: 10vh !important;
    /* padding: 2vh 0 5vh 25vh !important; */
    background-color: #ffffff !important;
  
    .title {
      font-weight: 700;
      text-decoration: underline;
    }
  
    .important-notes {
      padding: 1vh 0 0 25vh !important;
    }
  
    .form {
      padding: 0 0 0 25vh !important;
      height: 60vh;
  
      .ant-form {
        height: 94%;
        overflow: hidden;
  
        .ant-form-item-label {
          display: flex !important;
        }
  
        .mobile {
          margin: 0 !important;
        }
      }
  
      .ant-form:hover {
        overflow: auto;
      }
    }
  }
  
  .ant-layout-footer {
    height: 10vh !important;
    padding: 2vh 5vh !important;
    background-color: #ffffff !important;
    line-height: inherit !important;
    display: flex !important;
    align-items: center !important;
    position: fixed !important;
    width: 100% !important;
    bottom: 0 !important;
    border-top: 0.2px solid #777777;
  
    .footer-row {
      width: 100% !important;
      display: flex !important;
      align-items: center !important;
    }
  
    .progress {
      padding-right: 2vh;
      display: flex;
      align-items: center;
    }
  }
}