body {
  margin: 0;
  font-family: "SCSans", sans-serif !important;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@import "antd/dist/antd.css";
/* Scroller Starts */

/* width */

::-webkit-scrollbar {
  width: 1vh;
  height: 1vh;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1vh;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #a1a8af;
  border-radius: 1vh;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #a1a8af;
}

/* Scroller Ends */
