.important-notes {
  height: auto;
  background: #f2f2f2;

  .title {
    height: 12%;
  }

  ol {
    height: 82%;
    overflow-y: auto;
    padding: 0 2vh 0 10vh !important;
    margin-bottom: 1vh !important;

    li {
      text-align: justify;
    }
  }
}


// Tablet
@media screen and (min-width: 426px) and (max-width: 769px) {
  .important-notes {
    height: auto !important;

    ol {
      overflow: hidden;
    }
  }
}

// Mobiles
@media screen and (max-width: 426px) {
  .important-notes {
    height: auto !important;

    ol {
      overflow: hidden;
      padding: 0 3vh 0 5vh !important;
    }
  }
}